@model IEnumerable<TeachersrRecordsManagementSystem.Models.ViewModel.AdminViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Dashboard"] = "Dashboard";
    ViewData["ColumnName"] = "";
    ViewData["SubOperationName"] = "";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}



<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Teachers List</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Othername)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Contact)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Othername)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Contact)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.AdminId">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.AdminId">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.AdminId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







